
.main {
    display: flex;
}

.column {
    flex: 1; 
    padding: 10px; 
    box-sizing: border-box; 
}


.container2 {
    margin: 25px;
    background: #fff;
    box-shadow: 0 50px 75px rgba(0,0,0,0.2);
    border: none;
    border-radius: 25px;
    max-width: 100%; 
    overflow: hidden; 
    align-items: center;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 475px;
}
header{
    margin: 25px;
    background: #fff;
    box-shadow: 0 50px 75px rgba(0,0,0,0.2);
    border: none;
    border-radius: 25px;
    padding: 20px;
    
}
.container1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container3{
    border: none;
    padding: 10px;
    box-shadow: 0 50px 75px rgba(0,0,0,0.2);
    margin: 25px;
    background: #fff;
    border-radius: 25px;
    height: 200;
}



